# Environment Config
FLASK_ENV=production
THEME=default

# Google Calendar API
FAMILY_CALENDAR_ID=your_calendar_id_here

# Weather GRID -- 3 letter identifier for the Weather Forcast Office plus x/y
# coordinates in relation to that WFO.
NWS_GRID=XXX/###,###

# Radar station is the 4 character reference to 
RADAR_STATION=WKRP
HOME_LAT=your_latitude
HOME_LON=your_longitude
NWS_USER_AGENT=YourApp/1.0 (your@email.com)

# Polling components designated in minutes
CALENDAR_POLL_MINUTES=5
WEATHER_POLL_MINUTES=5
LUNCH_POLL_MINUTES=60
UI_REFRESH_MINUTES=5
ACTIVITY_POLL_MINUTES=60

# Timezone
TIMEZONE=America/Los_Angeles