# Security
.env
token.json
Credentials.json
credentials.json

# Python Environments
venv/
__pycache__/
*.pyc

# Editor Backups
*~

# OS Files
/static/background.jpg
menu.json
gitsteps.txt
.DS_Store
Thumbs.db